<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <title>Music Records</title>
</head>
<body>

    <h3>Music Records</h3>

    <div id = "app">
    <button id="getAllButton" v-on:click="getAllMusicrecords" class="btn btn-primary">Get all records</button>
    <br/>
    <input v-model="parametersToGetBy" placeholder="parameter" type="text"/>
    <button v-on:click="getByParameters(parametersToGetBy)" class="btn btn-primary">Search button</button>

    <ul id="MusicRecordList" v-if="musicrecords.length">
        <li v-for="musicrecord in musicrecords">
                {{musicrecord.title}}, {{musicrecord.artist}}, {{musicrecord.duration}}, {{musicrecord.publicationYear}}
        </li>

    </ul>
    <div v-else>No records </div>
    

    </div>
    <script src="js.js"></script>
</body>
</html>